html,
body {
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}

.blueoverlay {
    background-color: rgba(83, 71, 216, 0.9);
}

.blackoverlay {
    background-color: rgba(8, 8, 8, 0.9);
    color: #FFF;
}

.greyoverlay {
    background-color: rgba(8, 8, 8, 0.5);
    color: #FFF;
}

#navlogo {
    font-size: 1em;
}



.navbar-default .navbar-nav li a {
    color: #D5D5D5;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:active {
    color: #FFF;
}

#home {
    display: inline-table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;

}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration-style: bold;
}

.landing.text h1 {
    font-size: 500%;
    font-weight: 700;
}

.fab {
    padding: auto;
    font-size: 1.5em;
    width: 25%;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-google {
    color: #dd4b39;
}


.fa-youtube {
    color: #bb0000;
}
 
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}
